@page "/EventCallbackDemo"

<h3>EventCallbackDemo</h3>


<button @onclick="@Clicked">Click me</button>
<button @onclick="@ClickedAsync">Async</button>
<button @onclick="@(()=>Clicked())">Explicit</button>
<button @onclick="@(async ()=>{Clicked(); await ClickedAsync();})">Method</button>
<button @onclick="@ClickedWithArgs">With Args</button>


@code {

    void Clicked()
    {
    }

    Task ClickedAsync()
    {
        return Task.CompletedTask;
    }

    void ClickedWithArgs(MouseEventArgs args)
    {
        var y = args.ScreenY;
    }

}
